footer {
  background: url("../img/wave-full.svg");
  background-size: cover;
  background-position: top;
  color: #000;
}
footer .footer-logog {
  padding: 60px 0;
}
footer .row {
  width: 80%;
  margin: auto;
}
footer .input-group {
  background: transparent;
  border: 0px;
  border-radius: 10px;
}
footer .input-group input {
  border: 0px;
  border-radius: 10px;
}
footer .input-group button,
footer .input-group button:disabled {
  border: 0px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 700;
  color: var(--main-white-color) !important;
  background: var(--main-hover-color);
  text-transform: uppercase;
}
footer .input-group button:hover {
  background-color: #333;
}
footer .input-group input:focus,
footer .input-group button:focus {
  outline: none;
  box-shadow: none;
}
footer .social-icons {
  list-style: none;
  display: flex;
  padding-left: 0px;
  margin: 0;
}
footer .social-icons li a {
  margin: 0 5px;
  font-size: 2rem;
}
footer .middle-list {
  width: 80%;
  margin: auto;
  justify-content: space-between;
}
footer ul {
  list-style: none;
  padding-left: 0px;
}
footer ul li a {
  color: #000;
  text-decoration: none;
  font-size: 16px;
}
footer ul li a:hover {
  color: var(--main-white-color);
  font-weight: 600;
}
footer h6 {
  text-transform: uppercase;
}
footer p {
  margin-bottom: 0px;
  font-size: 14px;
  line-height: 1.8;
}
footer p.time,
footer p.number-email {
  margin-bottom: 20px;
}
footer p.newsletter-para {
  margin: 0;
  line-height: 1.5;
}
footer p.overview-para {
  font-size: 0.8rem;
}
footer .footer-text {
  text-align: center;
  margin-top: 60px;
}
footer .newsletter-input .social-icons {
  justify-content: flex-end;
  align-items: center;
}
@media screen and (max-width: 768px) {
  footer .middle-list {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  footer h6 {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: auto !important;
  }
  footer ul li a {
    font-size: 16px;
  }
  footer .row {
    width: 100%;
  }
  footer p {
    margin-bottom: 0px;
    font-size: 12px;
  }
  footer .newsletter-input {
    padding-right: 10px !important;
    text-align: center;
  }
  footer .footer-logog {
    padding: 50px 0 30px 0;
    text-align: center;
  }
  footer .footer-logog img {
    width: 35%;
    margin: auto;
  }
  footer .footer-text {
    margin-top: 20px;
    text-align: center;
    margin-top: 0px;
  }
  footer p.overview-para {
    margin-bottom: 10px;
  }
  footer {
    padding-bottom: 20px !important;
  }
  footer .newsletter-input .social-icons {
    justify-content: center;
  }
}
